doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='stylesheets/uikit/uikit.min.css', rel='stylesheet')
    link(href='stylesheets/uikit/uikit-rtl.min.css', rel='stylesheet')
    script(src='javascripts/uikit/uikit-icons.min.js')
    script(src='javascripts/uikit/uikit.min.js')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(href="https://fonts.gstatic.com" rel="preconnect" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap" rel="stylesheet")
  body(class="uk-background-default")
      block content
        div(class="uk-container")
      

