extends ../dashboard

block content_box
    .uk-background-default.uk-padding-large
        - var h1Classes = ['h3', 'mb-3', 'uk-text-bold uk-margin-medium-left']
        h3(class=h1Classes) Registo de webinar