extends ../dashboard

block content_box
    .uk-background-default.uk-margin-medium-top.uk-padding
        - var h1Classes = ['h3', 'mb-3', 'uk-text-bold uk-margin-medium-left']
        h3(class=h1Classes) Detalhes do webinar